* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

a {
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 0px;
    background-color: #EA8545;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

header nav ul li a{
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 1s linear, color 1s linear;
}

header nav ul li a:hover {
    background-color: #ffffff;
    color: #000000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background: rgb(192, 135, 30) 60%;
}

.container form {
    padding: 20px;
    width: 700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.container form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container form .row .col {
    flex: 1 1 250px;
}

.container form .row .col .title {
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.container form .row .col .inputBox {
    margin: 15px 0;
}

.container form .row .col .inputBox span {
    margin-bottom: 10px;
    display: block;
}

.container form .row .col .inputBox input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.container form .row .col .inputBox input:focus {
    border: 1px solid #000;
}

.container form .row .col .flex {
    display: flex;
    gap: 15px;
}

.container form .row .col .flex .inputBox {
    margin-top: 5px;
}

.container form .row .col .inputBox img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #EA8545;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}

.container form .submit-btn:hover {
    background: #b9510f;
}

footer {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    font-style: none;
    font-weight: bold;
    background-color: #EA8545;
    color: #fff;
}

footer img {
    display: flex;
    text-align:left;
    margin-right: 10px;
}
footer p {
    margin: 0;
    font-size: 14px;
}

